.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 40px;
}

.menu-icon {
  border: 1px solid;
  width: 40px;
  height: 30px;
  background-color: rgb(17, 235, 82);
  position: sticky;
}

.menu-icon img {
  width: 20px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;

  margin-bottom: 500px;
}

.sidebar-icons img {
  width: 20px;
  margin-bottom: 10px;
}

.sidebar-download-icon img {
  width: 20px;
  /* position: relative; */
}
